<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'wishes.css'%}">
    <title>Stats</title>
</head>
<body>
    <div>
        <h1>Hey-hey, {{ user.first_name }}!</h1>
        <h1>Overall approved Birthday wishes: {{ granted_wishes }}</h1>
    </div>
    <h3>Your granted wishes: {{user_granted_wishes}}</h3>
    <h3>Your pending wishes: {{user_pending_wishes}}</h3>
    <h6><a id="back" href="/wishes">Go back</a></h6>
</body>
</html>